@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

#title {
	background-color: #e5e5e5;
}
h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

p {
	text-align: center;
}

#img-div {
	/* background-color: aqua; */
	margin: 15px;
}

#image {
	position: relative;
	/* display: block; (original) */
	/* display: inline-block; */
	display: flex;
	justify-content: center;
	/*
	margin-left: 150px;
	margin-right: 50px;
	*/
	margin: auto;
	width: 60%;
}

#img-caption {
	text-align: center;
}

#tribute-info {
	background-color: #e5e5e5;
}

h2 {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

ul {
	margin-left: 30%;
	margin-right: 30%;
}

li {
	font-weight: bold;
}